node_modules/
dist/
build/
*.egg-info/
__pycache__/
docs/_build/

# Webpack build artifacts (generated with `npm run build`)
src/blicca/staticresourceoverride/static/bundles/*
!src/blicca/staticresourceoverride/static/bundles/.gitkeep
